*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  margin: 0;
}

body > * {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

@keyframes moveUp {
  0% {
    transform: translateY(5rem);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes moveRight {
  0% {
    transform: translateX(-5rem);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes moveLeft {
  0% {
    transform: translateX(5rem);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes moveLeftBG {
  0% {
    background-position: 0% 25%;
  }
  100% {
    background-position: 5% 25%;
  }
}
@keyframes moveUpBG {
  0% {
    background-position: 50% 50%;
  }
  100% {
    background-position: 50% 25%;
  }
}
.container {
  width: min(90%, 1440px);
  height: 100vh;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: [margin-top-start] 1fr [margin-top-end testimonial-start] auto [testimonial-end attribution-start] auto [attribution-end margin-bottom-start] 1fr [margin-bottom-end];
}

.testimonial {
  grid-row: testimonial-start/testimonial-end;
  display: grid;
  width: min(100%, 500px);
  margin: 0 auto;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
@media only screen and (min-width: 850px) {
  .testimonial {
    align-content: center;
    justify-content: center;
    grid-template-columns: 1.2fr 1fr;
    width: 100%;
  }
}

.attribution {
  grid-row: attribution-start/attribution-end;
}

.testimonial__bg-pattern-curve {
  position: absolute;
  bottom: 0;
  left: 0;
  object-fit: contain;
  width: 100vw;
}
@media only screen and (min-width: 850px) {
  .testimonial__bg-pattern-curve {
    width: 55vw;
  }
}
.testimonial__img-container {
  background-image: url(../images/pattern-bg.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-delay: 0.3s;
  animation-fill-mode: both;
}
@media only screen and (min-width: 850px) {
  .testimonial__img-container {
    margin-left: -8rem;
    align-items: flex-start;
  }
}
.testimonial__img {
  border-radius: 10px;
  width: 85%;
  box-shadow: 0 0.5rem 4rem rgba(32, 32, 70, 0.2);
  animation: moveLeft 1s 0.3s both;
}
.testimonial__btn-container {
  background-color: white;
  padding: 1.5rem 1.8rem;
  border-radius: 200px;
  box-shadow: 0 0.5rem 4rem rgba(32, 32, 70, 0.4);
  margin-top: -2.5rem;
  display: flex;
  position: relative;
  z-index: 5;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-fill-mode: both;
}
@media only screen and (min-width: 850px) {
  .testimonial__btn-container {
    margin-left: 4rem;
  }
}
.testimonial__btn {
  border: none;
  background-color: transparent;
  display: flex;
  cursor: pointer;
  outline: none;
  transform: scale(1);
  transition: transform 0.2s;
}
.testimonial__btn:hover {
  transform: scale(1.2);
}
.testimonial__btn--next {
  margin-left: 3rem;
}
.testimonial__txt-container {
  background-image: url(../images/pattern-quotes.svg);
  background-repeat: no-repeat;
  background-size: 12vw;
  background-position: top;
  color: #202046;
  text-align: center;
  animation-name: fadeIn, moveUpBG;
  animation-duration: 1s, 1s;
  animation-delay: 0.5s, 0.5s;
  animation-fill-mode: both, both;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
@media only screen and (min-width: 850px) {
  .testimonial__txt-container {
    order: -1;
    text-align: left;
    position: relative;
    z-index: 5;
    background-size: 100px;
    background-position: 5% 25%;
    display: grid;
    align-content: center;
    animation-name: fadeIn, moveLeftBG;
  }
}
.testimonial__testimony {
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 1.5;
  animation-name: moveUp;
  animation-duration: 1s;
  animation-delay: 0.3s;
  animation-fill-mode: both;
}
@media only screen and (min-width: 850px) {
  .testimonial__testimony {
    font-size: calc(2.2rem + (28 - 22) * ((100vw - 375px) / (1440 - 375)));
  }
}
.testimonial__author {
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 850px) {
  .testimonial__author {
    flex-direction: row;
    align-items: center;
  }
}
.testimonial__name {
  font-weight: 700;
  font-size: 1.6rem;
  animation-name: fadeIn;
  animation-duration: 1.5s;
  animation-delay: 0.8s;
  animation-fill-mode: both;
}
@media only screen and (min-width: 850px) {
  .testimonial__name {
    font-size: 1.8rem;
  }
}
.testimonial__profession {
  color: #babacf;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  font-size: 1.4rem;
  animation-name: fadeIn, moveRight;
  animation-duration: 0.6s, 0.8s;
  animation-delay: 1s, 1s;
  animation-fill-mode: both, both;
}
@media only screen and (min-width: 850px) {
  .testimonial__profession {
    margin-left: 2rem;
    font-size: 1.8rem;
  }
}

.attribution {
  font-size: 1.1rem;
  text-align: center;
  margin-top: 2.5rem;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-delay: 1.8s;
  animation-fill-mode: both;
}
.attribution a {
  color: #3e52a3;
}
.attribution a:hover {
  color: #202046;
}