//variables

$color-primary: hsl(240, 38%, 20%);
$color-secondary: hsl(240, 18%, 77%);

$bp-lg: 850px;

$font-fluid: calc(2.2rem + (28 - 22) * ((100vw - 375px) / (1440 - 375)));

//base styles
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
}

body>* {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}